/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0 32px; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 16px;
}

a {
    color: cornflowerblue;
}

button {
    border: none;
    padding: 16px 16px;
    border-radius: 8px;
    background-color: royalblue;
    color: white;
    font-weight: 600;

    &:hover {
        background-color: rgb(52, 83, 175);
    }
}

input {
    padding: 8px 4px;
    font-size: 14px;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 500;
}
