<button [routerLink]="'/add'">Add Institution</button>
<div class="institutions-list">
    <div class="institutions-list-header">
        <div class="institutions-list-name"> Institution Name </div>
        <div class="institutions-list-info"> OSG ID </div>
        <div class="institutions-list-info"> ROR ID </div>
    </div>

    <div class="institutions-list-row" *ngFor="let inst of institutions" >
        <div class="institutions-list-name"> <a [routerLink]="editRouteFor(inst)">{{inst.name}} </a></div>
        <div class="institutions-list-info"> {{inst.id}} </div>
        <div class="institutions-list-info"> {{inst.ror_id}} </div>
    </div>
</div>
