<div class="institutions-header">
    <h3>Institutions List</h3>
    <button [routerLink]="'/add'">Add Institution</button>
</div>
<div class="institutions-list">
    <div class="institutions-list-header">
        <div class="institutions-list-name"> Institution Name </div>
        <div class="institutions-list-info"> OSG ID </div>
        <div class="institutions-list-info"> ROR ID </div>
    </div>

    <div class="institutions-list-row" *ngFor="let inst of institutions" [routerLink]="editRouteFor(inst)">
        <div class="institutions-list-name"> {{inst.name}} </div>
        <div class="institutions-list-info"> {{inst.id}} </div>
        <div class="institutions-list-info"> {{inst.ror_id}} </div>
    </div>
</div>
