name: Build image

on:
  push:
    branches: ["main"]
    tags:
      - 'v*.*.*' # glob for semver tags (including prereleases)
  pull_request:
    branches: ["main"]

jobs:
  call-build-image:
    uses: osg-htc/build-push/.github/workflows/build-push.yaml@main
    secrets: inherit
    with:
      image: 'hub.opensciencegrid.org/opensciencegrid/topology-institutions-api'
      file: 'institutions-api.Dockerfile'
